[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/lunaru/vim-less.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/refheap"]
	path = .vim/bundle/refheap
	url = https://github.com/Raynes/refheap.vim.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/php"]
	path = .vim/bundle/php
	url = https://github.com/vim-scripts/php.vim-html-enhanced.git
[submodule ".vim/bundle/jshint"]
	path = .vim/bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ack-vim"]
	path = .vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/scss"]
	path = .vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule ".vim/bundle/mustache-handlebars"]
	path = .vim/bundle/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/posero.vim"]
	path = .vim/bundle/posero.vim
	url = https://github.com/alfredodeza/posero.vim.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/backbone"]
	path = .vim/bundle/backbone
	url = https://github.com/mklabs/vim-backbone.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/angular"]
	path = .vim/bundle/angular
	url = https://github.com/burnettk/vim-angular.git
