[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/lunaru/vim-less.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
